

/* body {
    margin: 0px auto;
    padding: 0px;
    line-height: 1.5em;
    width: 98%;

} */

* {
    margin: 0;  
}

main {
    height: auto;
}
input[type=checkbox]{
    display: none;
    
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

a {
    text-decoration: none;
}
    
nav {
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    /* top: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(62, 55, 68);
    color: #fff;
}
    
.home-button {
    font-family: Apple Chancery, cursive;
    font-size: 2rem;
    color: #fff;

}

.side-bar {
    gap: 1.5em;
    display: flex;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    list-style: none;
}

.side-bar a {
    color:#fff;
}

.side-bar a:hover {
    color: black;
    font-weight: bold;
    transition: 0.3s ease;    
}

header {
    width: 100%;
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: black;
    max-width: 100%;
}
.name {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

aside {
    width: 20%;
    height: 100%;
    margin: auto;
    float: right;
    border: 1.5px solid black;
    background-color: rgb(62, 55, 68);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;
    -webkit-box-shadow: 5px 5px 5px #000;
    -moz-border-radius: 10px;
    -moz-box-shadow: 5px 5px 5px #000;
    padding: 1.5em;
    animation: fadeIn 2s;
    justify-content: center;


}

.section-parts {
    padding-left: 0.5em;
}
.part-title {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-top: 0.75em;
    line-height: 2.5em; 
    text-align: center;
}

.part-title h1{
    text-transform: capitalize;
    letter-spacing: 2px;
    line-height: 1em;
    font-size: 2rem;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1em;
    font-size: 1.5rem;
    padding: 1em;
}

.part-title h3{
    text-transform: capitalize;
    font-size: 1rem;
    padding-bottom: .5em;;
}

.paragraphs {
    line-height: 1.5em;
}
.contact-info{
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.frameworks {
    padding-left: 1rem;  
    width: 100%;
    text-align: center;
    border-collapse: collapse;

}

.project-topics {
    padding-left: 1rem;  
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }

@media only screen and (max-width: 595px) {

    .side-bar { 
        display:none;
        position: absolute;
        background-color: rgb(62, 55, 68);
        text-align: center;
        padding: 16px 0;
        right: 0;
        left: 0;
    }
 
    .menu a:hover {
        color: black;
        font-weight: bold;
        display: inline-block;
        transition: 0.3s ease;    
    }

    input[type=checkbox]:checked ~ .side-bar{
        display: block;
    }
        
    .hamburger {
        display: block;
    }

    aside {
        display: none;
    }
    
}